In [3]:
import pymysql
conn = pymysql.connect(user="root",password="g0nz07")
mycursor=conn.cursor()
mycursor.execute("drop database if exists pysparkdb")
mycursor.execute("create database pysparkdb")

mycursor.execute("use pysparkdb")
mycursor.execute("drop table if exists authors")

0

In [4]:
mycursor.execute("CREATE TABLE IF NOT EXISTS authors ( \
    uid INT AUTO_INCREMENT PRIMARY KEY, \
    last_name VARCHAR(255), \
    first_name VARCHAR(255), \
    birth_month VARCHAR(255))")

0

In [5]:
mycursor.execute("INSERT INTO authors (last_name, first_name, birth_month) \
VALUES \
  ('Asimov', 'Issac', 'January'), \
  ('Brown', 'Dan', 'June'), \
  ('Baldacci', 'David', 'August'), \
  ('Burroughs', 'Edgar Rice', 'September'), \
  ('Clarke', 'Arthur C.', 'December'), \
  ('Cook', 'Robin', 'May'), \
  ('Dickens', 'Charles', 'February'), \
  ('Forster', 'E.M.', 'January'), \
  ('Lahiri', 'Jhumpa', 'July'), \
  ('Rand', 'Ayn', 'February'), \
  ('Salinger', 'J.D.', 'January'), \
  ('Seuss', 'Dr.', 'March'), \
  ('Stoker', 'Bram', 'November'), \
  ('Wilde', 'Oscar', 'October'), \
  ('Wordsworth', 'William', 'April');")

15

In [6]:
mycursor.execute("select * from pysparkdb.authors;")

15

In [7]:
conn.commit()

In [8]:
for row in mycursor: print(row)

(1, 'Asimov', 'Issac', 'January')
(2, 'Brown', 'Dan', 'June')
(3, 'Baldacci', 'David', 'August')
(4, 'Burroughs', 'Edgar Rice', 'September')
(5, 'Clarke', 'Arthur C.', 'December')
(6, 'Cook', 'Robin', 'May')
(7, 'Dickens', 'Charles', 'February')
(8, 'Forster', 'E.M.', 'January')
(9, 'Lahiri', 'Jhumpa', 'July')
(10, 'Rand', 'Ayn', 'February')
(11, 'Salinger', 'J.D.', 'January')
(12, 'Seuss', 'Dr.', 'March')
(13, 'Stoker', 'Bram', 'November')
(14, 'Wilde', 'Oscar', 'October')
(15, 'Wordsworth', 'William', 'April')

* **In Windows: Copy mariadb jar into $SPARK_HOME/jars/**
* **In Remote-WSL, change ~/.vscode-server**
  1. PATH=/home/nolfonzo/miniconda3/bin:$PATH                                                                                     2 export SPARK_HOME="/home/nolfonzo/spark-3.2.1-bin-hadoop3.2"
  3. export PATH="$SPARK_HOME/bin:$SPARK_HOME/sbin:$PATH"
  4. export JAVA_HOME="/usr/lib/jvm/java-11-openjdk-amd64"
  5. echo "**** PATH: " $PATH
  6. echo "**** SPARK_HOME: " $SPARK_HOME
  7. echo "**** JAVA_HOME: " $JAVA_HOME
~

In [1]:
import pyspark
sc = pyspark.SparkContext.getOrCreate()
from pyspark.sql import SparkSession
spark = SparkSession(sc)
dataframe_mysql = spark.read.format("jdbc").options(
    url="jdbc:mysql://127.0.0.1/pysparkdb",
    driver = "org.mariadb.jdbc.Driver",
    dbtable = "authors",
    user="root",
    password="g0nz07").load()
dataframe_mysql.show()

22/05/19 14:58:42 WARN Utils: Your hostname, CarlPC resolves to a loopback address: 127.0.1.1; using 172.25.228.240 instead (on interface eth0)
22/05/19 14:58:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/nolfonzo/spark-3.2.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/19 14:58:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+---+----------+----------+-----------+
|uid| last_name|first_name|birth_month|
+---+----------+----------+-----------+
|  1|    Asimov|     Issac|    January|
|  2|     Brown|       Dan|       June|
|  3|  Baldacci|     David|     August|
|  4| Burroughs|Edgar Rice|  September|
|  5|    Clarke| Arthur C.|   December|
|  6|      Cook|     Robin|        May|
|  7|   Dickens|   Charles|   February|
|  8|   Forster|      E.M.|    January|
|  9|    Lahiri|    Jhumpa|       July|
| 10|      Rand|       Ayn|   February|
| 11|  Salinger|      J.D.|    January|
| 12|     Seuss|       Dr.|      March|
| 13|    Stoker|      Bram|   November|
| 14|     Wilde|     Oscar|    October|
| 15|Wordsworth|   William|      April|
+---+----------+----------+-----------+

In [3]:
retail_df = (spark
    .read
    .format("csv")
    .option("inferSchema", "true")
    .option("header","true")
    .load("/home/nolfonzo/src/Essential-PySpark-for-Scalable-Data-Analytics/README.md")
    )
retail_df.show()

+-----------------------------------------------+
|# Essential PySpark for Scalable Data Analytics|
+-----------------------------------------------+
|                           <a href="https://...|
|                           This is the code ...|
|                           **A beginner's gu...|
|                           ## What is this b...|
|                           Apache Spark is a...|
|                           This book covers ...|
|                           Understand the ro...|
|                           Gain an appreciat...|
|                           Scale out your da...|
|                           Build data pipeli...|
|                           Leverage the clou...|
|                           Explore the appli...|
|                           Integrate your cl...|
|                           If you feel this ...|
|                           <a href="https://...|
|                           alt="https://www....|
|                           ## Instructions a...|
|                           All of the code i...|
|                           The code will loo...|
|                                            ```|
+-----------------------------------------------+
only showing top 20 rows

In [5]:
raw_df = spark.read.format("image").load("/home/nolfonzo/src/Essential-PySpark-for-Scalable-Data-Analytics/data/images")
raw_df.printSchema()
image_df = raw_df.select("image.origin", "image.height", "image.width", "image.nChannels", "image.mode", "image.data")
image_df.write.option("header", "true").mode("overwrite").csv("/home/nolfonzo/src/pyspark/images.csv")

root
 |-- image: struct (nullable = true)
 |    |-- origin: string (nullable = true)
 |    |-- height: integer (nullable = true)
 |    |-- width: integer (nullable = true)
 |    |-- nChannels: integer (nullable = true)
 |    |-- mode: integer (nullable = true)
 |    |-- data: binary (nullable = true)

In [6]:
raw_df = spark.read.format("image").load("images")

In [ ]:
conn.commit()

In [9]:
import pyspark
sc = pyspark.SparkContext.getOrCreate()
from pyspark.sql import SparkSession
spark = SparkSession(sc)