**Install MySQL on WSL**\
1. sudo apt install mysql-server
2. sudo mysql_secure_installation
3. sudo service mysql start

4. conda install pymysql

5. mysql -h 127.0.0.1:3306 -u root -p authors

In [2]:
import pymysql
conn = pymysql.connect(user="root",password="g0nz07")
mycursor=conn.cursor()
mycursor.execute("drop database if exists pysparkdb")
mycursor.execute("create database pysparkdb")

mycursor.execute("use pysparkdb")
mycursor.execute("drop table if exists authors")

0

In [3]:
mycursor.execute("CREATE TABLE IF NOT EXISTS authors ( \
    uid INT AUTO_INCREMENT PRIMARY KEY, \
    last_name VARCHAR(255), \
    first_name VARCHAR(255), \
    birth_month VARCHAR(255))")

0

In [4]:
mycursor.execute("INSERT INTO authors (last_name, first_name, birth_month) \
VALUES \
  ('Asimov', 'Issac', 'January'), \
  ('Brown', 'Dan', 'June'), \
  ('Baldacci', 'David', 'August'), \
  ('Burroughs', 'Edgar Rice', 'September'), \
  ('Clarke', 'Arthur C.', 'December'), \
  ('Cook', 'Robin', 'May'), \
  ('Dickens', 'Charles', 'February'), \
  ('Forster', 'E.M.', 'January'), \
  ('Lahiri', 'Jhumpa', 'July'), \
  ('Rand', 'Ayn', 'February'), \
  ('Salinger', 'J.D.', 'January'), \
  ('Seuss', 'Dr.', 'March'), \
  ('Stoker', 'Bram', 'November'), \
  ('Wilde', 'Oscar', 'October'), \
  ('Wordsworth', 'William', 'April');")

15

In [5]:
mycursor.execute("select * from pysparkdb.authors;")

15

In [6]:
conn.commit()

In [7]:
for row in mycursor: print(row)

(1, 'Asimov', 'Issac', 'January')
(2, 'Brown', 'Dan', 'June')
(3, 'Baldacci', 'David', 'August')
(4, 'Burroughs', 'Edgar Rice', 'September')
(5, 'Clarke', 'Arthur C.', 'December')
(6, 'Cook', 'Robin', 'May')
(7, 'Dickens', 'Charles', 'February')
(8, 'Forster', 'E.M.', 'January')
(9, 'Lahiri', 'Jhumpa', 'July')
(10, 'Rand', 'Ayn', 'February')
(11, 'Salinger', 'J.D.', 'January')
(12, 'Seuss', 'Dr.', 'March')
(13, 'Stoker', 'Bram', 'November')
(14, 'Wilde', 'Oscar', 'October')
(15, 'Wordsworth', 'William', 'April')